#wrapper {
  width: 288px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -240px 0px 0px -144px;
  text-align: center;
  background: #faa;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}