#wrapper {
  width: 640px;
  height: 480px;
  position: absolute;
  //top: 50%;
  //left: 50%;
  //margin: -256px 0px 0px -336px;
  text-align: center;
  background: #eee;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}